.form-group {
  margin-top: 15px;

  &--error {
    & > input {
      border-color: $danger-color;
    }
  }

  &__error {
    margin-top: 5px;
    margin-left: 5px;
    color: $danger-color;
    display: inline-block;
  }
}
