.forgot {
  display: flex;
  margin-top: 15px;
  align-items: center;
  justify-content: space-between;
}

.checkbox {
  display: flex;
  align-items: center;
}

.action {
  margin-top: 15px;
  text-align: right;
}

#new-user {
  margin-top: 20px;
}
