.swal-title {
  color: #333;
  font-weight: bold;
}

.swal-text {
  color: #333;
  text-align: center;
}

.swal-button {
  @extend .btn;
  @extend .btn--rounded;

  &:focus {
    box-shadow: none;
  }

  &--confirm {
    @extend .btn--primary;
  }

  &--cancel {
    color: #333;
    @extend .btn--hollow;
  }

  &--danger {
    @extend .btn--danger;
  }
}
