$primary-color: #374cc6;
$primary-contrast-color: #fff;

$secondary-color: #43a047;
$secondary-contrast-color: #ffffff;

$danger-color: #c63737;
$danger-contrast-color: #fff;

$warning-color: #dd9700;

$border-color: #cccccc;
$placeholder-color: #aaaaaa;
